.AddNewPostSection{
    background-color: transparent;
    margin-top: 3rem;
    margin-right: 1rem;
    float: right;
   
   }
   #btn_addNewPost {
       
     align-items: center;
     background-image: linear-gradient(144deg,#ff4040, #6c0722 50%,#4f0000);
     border: 0;
     border-radius: 8px;
     box-shadow: rgba(252, 65, 65, 0.2) 0 15px 30px -5px;
     box-sizing: border-box;
     color: #FFFFFF;
     display: flex;
     font-family: Phantomsans, sans-serif;
     font-size: 20px;
     justify-content: center;
     line-height: 1em;
     max-width: 100%;
     min-width: 140px;
     padding: 19px 24px;
     text-decoration: none;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     white-space: nowrap;
     cursor: pointer;
   }
   
   #btn_addNewPost:active,
   #btn_addNewPost:hover {
     outline: 0;
   }
   
   @media (min-width: 768px) {
     #btn_addNewPost {
       font-size: 24px;
       min-width: 196px;
     }
   }
   


.Edit{
    display: inline-block;  
    margin-bottom: 0px;
}
.btn_editPosts  {
    display: block;
    margin: 7px auto 0px 7px;
    text-align: center;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 10px 20px -8px rgb(255, 255, 255);
    padding: 10px 17px;
    font-size: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #000000;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.Edit .btn_editPosts:hover {
    transform: translateY(-3px);
}






/*new post*/


.form-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.28);
}


.form-holder .form-content {
    position: relative;
    text-align: left;
    width: 100%;
    padding: 40px;
    
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.form-control{
    margin:10px;
}

.form-control:focus, #subTitle_id:focus, #textArea_id:focus{
    margin-top: 10px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 10px;
   
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #282727;
    text-align: left;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}

.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input[type=text] {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #333333;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
}

.form-content textarea {
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #333333;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 0px;
}

.innerHtmlSpan{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.feedback{
    padding-left: 0.8rem;
    margin-bottom: 1rem;
   color: #ffff00;
   visibility:hidden;
   
   -webkit-transition: 0.5s ease;
   transition: 0.5s ease;
}