
html, body{
    font-size: 100%;
	font-family: 'Josefin Sans','Ubuntu','Roboto', sans-serif;
}

img{
	width: 100%;
}
.login {
    height: 100vh;
    width: 100%;
    background: white;
    position: relative;
}
.login_box {
    width: 1050px;
    height: 95vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}
.login_box .left{
  width: 41%;
  height: 100%;
  padding: 25px 25px;
  
}
.login_box .right{
  width: 59%;
  height: 100%  
}
.left .top_link a {
    color: #9c0101;
    font-weight: 400;
}
.left .top_link{
  height: 20px
}
.left .contact{
	display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
}
.left h3{
  text-align: center;
  margin-bottom: 40px;
}
.left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}
.left{
	background: linear-gradient(-45deg, #dcd7e0, #fff);
}


.contact .rmb {
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.65rem;
    color: #444444;
    font-size: 13px;
  }
  
.contact .forgetpass {
    position: relative;
    margin-top: 0.5rem;
    float: right;
    right: 10px;
}

.contact .btn1 {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 100px;
    background-color: #bc030372;
    color: #ffffff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgb(114, 54, 54);
    -moz-box-shadow: 0px 9px 15px -11px rgb(114, 54, 54);
    box-shadow: 0px 9px 15px -11px rgb(114, 54, 54);

    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.contact .btn1:hover{
    background-color: #740000d7;
    color: #ffffff;
    
}



.right {
	background: linear-gradient(212.38deg, rgba(242, 57, 76, 0.7) 0%, rgba(189, 70, 70, 0.726) 100%),url(../images/mahasona1.jpeg);
	color: #fff;
	position: relative;
}

.right .right-text{
  height: 100%;
  position: relative;
  transform: translate(0%, 45%);
}
.right-text h2{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
.right-text h5{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}

.right .right-inductor{
  position: absolute;
  width: 70px;
  height: 7px;
  background: #fff0;
  left: 50%;
  bottom: 70px;
  transform: translate(-50%, 0%);
}
.top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
}


.typcn {
    position: absolute;
    color: #3b476b;
    font-size: 22px;
    cursor: pointer;
  }      
  .typcn.active {
    color: #eb6260;
  }
  
  .error_container{
    background: transparent;
    border: 2px solid #ffa620f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    display: none;
  }
  .error {
    font-size: medium;
    text-align: center;
    border: 0;
    border-radius: 8px;
    position: absolute;
    color: #ffa620f0;
    padding-left: 5px;
    margin-bottom: 0;
    width: inherit;
    display: none;
  }
    
